body{ 
    color: black;
    height: 100vh;
    text-align: center;
    background-color: white;
    font-family: 'nyt-karnakcondensed';
    cursor: default;
}
.header{
    font-weight: 900;
    text-align: center;
    font-size: 37px;
    letter-spacing:0.01em;
}
.top{ 
    border-bottom: 2px solid lightgrey;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.icongroup1{ 
    margin-left: 15px;
    margin-right: 15px;
}
.menu{ 
    position: absolute;
    left: 0px;
}
.question{ 
    position: absolute;
left: 70px;
}
.stats{ 
    position: absolute;
    right: 70px;
}
.settings{
    position: absolute;
    right: 0px;
}
th, td {
    border: 2px solid lightgrey;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
  }
  td{ 
  height: 60px;
  width: 60px;
  text-align: center;
  }
  table{ 
      width: auto;
      margin-left: auto;
      margin-right: auto;
  }